* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*This is for the container I guess*/
.container {
  width: 100%;
  /*max-width:1100px;*/
  position: relative;
  margin: auto;
  /*border: 1vw solid #ff7aa9;*/
  border-radius: 3vw;
  overflow: hidden;
  background-color: white;
  max-width: 1000px;
}

body {
  padding: 3vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, white, #ff7aa9);
}

/*This is all for the top image I guess*/

#top-images {
  display: flex;
  position: relative;
  height: 30vw; /*viewport 1 unit = 1% of the window width*/
  max-height: 600px;
  min-height: 250px;
  width: 100%;
  align-content: flex-end;
  align-items: flex-end; /*to make things left bottom*/
}

#top-images img {
  position: absolute;
  inset: 0; /*shorter way to write top right bottom left*/
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 2vw; /* outside border raidus-outside border width*/
  border-top-left-radius: 2vw;
}
@keyframes imgFade {
  0% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#top-images img {
  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 42s;
}
#top-images img:nth-of-type(1) {
  animation-delay: 42s;
}
#top-images img:nth-of-type(2) {
  animation-delay: 36s;
}
#top-images img:nth-of-type(3) {
  animation-delay: 30s;
}
#top-images img:nth-of-type(4) {
  animation-delay: 24s;
}
#top-images img:nth-of-type(5) {
  animation-delay: 18s;
}
#top-images img:nth-of-type(6) {
  animation-delay: 12s;
}
#top-images img:nth-of-type(7) {
  animation-delay: 6s;
}

/*tHiS iS foR thE wHitE fAdE*/
.white-fade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.5) 70%,
    white 90%
  );
  mix-blend-mode: lighten;
  /*background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%,white 100%);*/
}

/*This is for the Title*/

@font-face {
  font-family: "Backabon";
  src: url("backabon.ttf") format("truetype");
}

.flexbox-title {
  position: relative; /*relative makes it appear top than static*/
  padding: 2vw;
  /*font-family: Backabon;*/
}
h1 {
  color: #ff7aa9;
  font-size: 6vw;
  line-height: 4.5vw;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
h3 {
  color: #5f5f5f;
  font-size: 3vw;
  line-height: 4.5vw;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

/*for the lyrics section!*/

.lyrics {
  padding-bottom: 2vw;
}

p {
  text-align: center;
  line-height: 23px;
  font-family: "Montserrat", sans-serif;
  opacity: 0;

  animation-name: lyricblur;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.pop {
  animation-name: lyricpop;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: inherit; /*inherit the parent's aniamtion*/

  display: inline-block;
}
.chill {
  animation-name: lyricchill;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: inherit; /*inherit the parent's aniamtion*/

  display: inline-block;
}
.dip {
  animation-name: lyricdip;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: inherit; /*inherit the parent's aniamtion*/

  display: inline-block;
}

.space {
  height: 25px;
}

@keyframes lyricblur {
  0% {
    color: transparent;
    opacity: 1;
    /*text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    text-shadow: 0 0 5px rgba(255, 122, 169, 0.5); /*makes text shadow for the texts*/
  }
  100% {
    opacity: 1;
    color: inherit; /*makes is original*/
  }
}

.lyrics p:nth-of-type(1) {
  animation-delay: 14.5s;
}
.lyrics p:nth-of-type(2)
/*., lyrics p:nth-of-type(2) .pop */ {
  animation-delay: 17.5s;
}

.lyrics p:nth-of-type(3) {
  animation-delay: 20.5s;
}
.lyrics p:nth-of-type(4) {
  animation-delay: 22s;
}
.lyrics p:nth-of-type(5) {
  animation-delay: 23.5s;
}
.lyrics p:nth-of-type(6) {
  animation-delay: 25s;
}

.lyrics p:nth-of-type(7) {
  animation-delay: 26.6s;
}
.lyrics p:nth-of-type(8) {
  animation-delay: 29.5s;
}

.lyrics p:nth-of-type(9) {
  animation-delay: 32.7s;
}
.lyrics p:nth-of-type(10) {
  animation-delay: 34.3s;
}
.lyrics p:nth-of-type(11) {
  animation-delay: 35.6s;
}
.lyrics p:nth-of-type(12) {
  animation-delay: 37s;
}

.lyrics p:nth-of-type(13) {
  animation-delay: 38.3s;
}
.lyrics p:nth-of-type(14) {
  animation-delay: 41.3s;
}

.lyrics p:nth-of-type(15) {
  animation-delay: 44.3s;
}
.lyrics p:nth-of-type(16) {
  animation-delay: 46.3s;
}

.lyrics p:nth-of-type(17) {
  animation-delay: 50.3s;
}
.lyrics p:nth-of-type(18) {
  animation-delay: 53s;
}

.lyrics p:nth-of-type(19) {
  animation-delay: 56s;
}
.lyrics p:nth-of-type(20) {
  animation-delay: 58s;
}

.lyrics p:nth-of-type(21) {
  animation-delay: 62s;
}
.lyrics p:nth-of-type(22) {
  animation-delay: 63s;
}
.lyrics p:nth-of-type(23) {
  animation-delay: 65s;
}
.lyrics p:nth-of-type(24) {
  animation-delay: 66s;
}

.lyrics p:nth-of-type(25) {
  animation-delay: 68s;
}
.lyrics p:nth-of-type(26) {
  animation-delay: 70s;
}

.lyrics p:nth-of-type(27) {
  animation-delay: 74s;
}
.lyrics p:nth-of-type(28) {
  animation-delay: 76s;
}

.lyrics p:nth-of-type(29) {
  animation-delay: 79s;
}
.lyrics p:nth-of-type(30) {
  animation-delay: 83s;
}

.lyrics p:nth-of-type(31) {
  animation-delay: 86s;
}
.lyrics p:nth-of-type(32) {
  animation-delay: 87s;
}
.lyrics p:nth-of-type(33) {
  animation-delay: 89s;
}
.lyrics p:nth-of-type(34) {
  animation-delay: 90s;
}

.lyrics p:nth-of-type(35) {
  animation-delay: 92s;
}
.lyrics p:nth-of-type(36) {
  animation-delay: 95s;
}

.lyrics p:nth-of-type(37) {
  animation-delay: 98s;
}
.lyrics p:nth-of-type(38) {
  animation-delay: 100s;
}

.lyrics p:nth-of-type(39) {
  animation-delay: 104s;
}
.lyrics p:nth-of-type(40) {
  animation-delay: 107s;
}

.lyrics p:nth-of-type(41) {
  animation-delay: 110s;
}
.lyrics p:nth-of-type(42) {
  animation-delay: 113s;
}

.lyrics p:nth-of-type(43) {
  animation-delay: 116s;
}
.lyrics p:nth-of-type(44) {
  animation-delay: 117s;
}
.lyrics p:nth-of-type(45) {
  animation-delay: 119s;
}
.lyrics p:nth-of-type(46) {
  animation-delay: 120s;
}
.lyrics p:nth-of-type(47) {
  animation-delay: 122s;
}
.lyrics p:nth-of-type(48) {
  animation-delay: 123s;
}
.lyrics p:nth-of-type(49) {
  animation-delay: 125s;
}
.lyrics p:nth-of-type(50) {
  animation-delay: 126s;
}

.lyrics p:nth-of-type(51) {
  animation-delay: 128s;
}
.lyrics p:nth-of-type(52) {
  animation-delay: 130s;
}
.lyrics p:nth-of-type(53) {
  animation-delay: 134s;
}
.lyrics p:nth-of-type(54) {
  animation-delay: 135s;
}
.lyrics p:nth-of-type(55) {
  animation-delay: 136s;
}
.lyrics p:nth-of-type(56) {
  animation-delay: 138s;
}

.lyrics p:nth-of-type(57) {
  animation-delay: 139s;
}
.lyrics p:nth-of-type(58) {
  animation-delay: 141s;
}
.lyrics p:nth-of-type(59) {
  animation-delay: 142s;
}
.lyrics p:nth-of-type(60) {
  animation-delay: 144s;
}

.lyrics p:nth-of-type(61) {
  animation-delay: 145s;
}
.lyrics p:nth-of-type(62) {
  animation-delay: 147s;
}
.lyrics p:nth-of-type(63) {
  animation-delay: 148s;
}
.lyrics p:nth-of-type(64) {
  animation-delay: 150s;
}

.lyrics p:nth-of-type(65) {
  animation-delay: 152s;
}
.lyrics p:nth-of-type(66) {
  animation-delay: 153s;
}
.lyrics p:nth-of-type(67) {
  animation-delay: 155s;
}
.lyrics p:nth-of-type(68) {
  animation-delay: 158s;
}
.lyrics p:nth-of-type(69) {
  animation-delay: 159s;
}

.lyrics p:nth-of-type(70) {
  animation-delay: 161s;
}
.lyrics p:nth-of-type(71) {
  animation-delay: 162s;
}

.lyrics p:nth-of-type(72) {
  animation-delay: 164s;
}
.lyrics p:nth-of-type(73) {
  animation-delay: 165s;
}
.lyrics p:nth-of-type(74) {
  animation-delay: 167s;
}
.lyrics p:nth-of-type(75) {
  animation-delay: 169s;
}
.lyrics p:nth-of-type(76) {
  animation-delay: 171s;
}

.lyrics p:nth-of-type(77) {
  animation-delay: 173s;
}
.lyrics p:nth-of-type(78) {
  animation-delay: 174s;
}
@keyframes lyricpop {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0px);
  }
}
@keyframes lyricchill {
  0% {
    transform: translateX(0px);
  }
  5% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  15% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(0px);
  }
}
@keyframes lyricdip {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(15px);
  }
  15% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(15px);
  }
  25% {
    transform: translateY(0px);
  }
}

/*
.icy {
  color: #00adee;
  cursor: pointer; /*makes it look clickable*/
/*}
.icy:hover {
  font-weight: 700;
}*/
/* .icy-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  pointer-events: none;
} */

/* BounCiNg bAlls! */

.bouncing-balls {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bouncing-ball {
  position: absolute;
  height: 3vw;
  width: 3vw;
  border-radius: 1.5vw;
}
